
.focus{
	margin-bottom: 10px;
}
.keywords{
	float: left;
	width: 200px;
	height: 340px;
	padding: 20px 0px;
	background: #999;
	margin-right: 10px;
	box-sizing: border-box;
}
.keyword-item{
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
.keyword-item .link{
	color:#fff;
}
.keyword-item:hover{
	background: #aaa;
}
.keyword-item .link:hover{
	color:#f21;
}
.carousel{
	float: left;
	width: 850px;
	height: 340px;
	background: #0ff;
}