.cart-title li,
.cart-item li,
.cart-footer li{
	float: left;
}
.cart-title,
.cart-item,
.cart-footer{
	padding-left: 10px;
	box-sizing: border-box;
}
.product-select{
	width: 6%;
}
.cart-box .product-info{
	width: 54%;
}
.cart-box .product-price{
	width: 10%;
}
.cart-box .product-count{
	width: 10%;
}
.cart-box .product-totalPrice{
	width: 10%;
}
.cart-box .product-opreation{
	width: 10%;
}


