.result{
	min-height: 300px;
	background: #999;
	padding: 100px;
	text-align: center;
}
.result-box{
	display: none;
}
.result .title{
	font-size: 30px;
	color: #fff;
	margin-bottom: 10px;
}
.btns .btn:first-child{
	margin-right: 10px;
}
.result .addCart .btn{
	width: 120px;
}