/*
	焦点区样式
*/
.focus{
	margin-bottom: 40px;
}
.keywords{
	float: left;
	width: 240px;
	height: 440px;
	padding: 20px 0px;
	background: #999;
	margin-right: 10px;
	box-sizing: border-box;
}
.keyword-item{
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
}
.keyword-item .link{
	color:#fff;
}
.keyword-item:hover{
	background: #aaa;
}
.keyword-item .link:hover{
	color:#f21;
}

/*
	轮播图样式
*/
.carousel{
	float: left;
	width: 830px;
	height: 440px;
	position: relative;
}

.carousel li{
	width: 830px;
	height: 440px;
}
.carousel li img{
	width: 100%;
	height: 100%;
}
.carousel .dots{
	position: absolute;
	bottom: 20px;
	left: 40%;
	margin-left: 0;
}
.carousel .dot{
	float: left;
	width: 16px;
	height: 16px;
	text-align: center;
	margin-left: 5px;
	border-radius: 50%;
	border: 1px solid rgba(0,0,0,0.3);
	color:#ccc;
	cursor: pointer;
}
.carousel .dot.active{
	background: rgba(0,0,0,0.5);
}
.carousel .arrow{
	width: 30px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	top:50%;
	margin-top: -30px;
	background: rgba(0,0,0,0.6);
	color: #FFF;
	cursor: pointer;
}
.carousel .arrow.next{
	right: 0;
}
.carousel .arrow.prev{
	left: 0;
}

/*
	楼层样式
*/
.floor{
	margin-bottom: 20px;
}
.floor-box{
	margin-bottom: 40px;
}
.floor-title{
	font-size: 18px;
	margin-bottom: 15px;
}
.floor-box:nth-child(1) .floor-title{
	color:#f21;
	border-bottom: 2px solid #f21;
}
.floor-box:nth-child(2) .floor-title{
	color:#ff1;
	border-bottom: 2px solid #ff1;
}
.floor-box:nth-child(3) .floor-title{
	color:#1ff;
	border-bottom: 2px solid #1ff;
}
.floor-box:nth-child(4) .floor-title{
	color:#f1f;
	border-bottom: 2px solid #f1f;
}
.floor-item{
	width:208px;
	height: 280px;
	margin-right: 10px;
	float: left;
	text-align: center;
	box-sizing: border-box;
	padding-top: 10px;
	background: #fff;
}
.floor-item:last-child{
	margin-right: 0px;
}
.floor-item a{
	text-decoration: none;
}
.floor-text{
	font-size: 18px;
	font-weight:bold;
	color:#111;

}
.floor-image{
	width: 180px;
	height: 180px;
	margin-top: 10px;
}