.payment-title{
	text-align: center;
	color: #0af;;
	font-size: 30px;
	margin-bottom: 10px;
}
.payment-header{
	text-align: center;
	color: #0af;
	font-size: 30px;
	margin-bottom: 10px;
}
.payment-content{
	text-align: center;
}